// Ví dụ mẫu để add hình ảnh
// .udeCarousel{
//     background-image: url(../img/cover.jpg);
//     height: 400px;

// }
.ford__container{
    width: 95%;
    margin: 0 auto;
    .carousel-inner img {
        width: 100%;
        height: 800px;
    }
    .carousel-indicators{
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
}
