.container-fluid {
    padding: 0;
}

// NAV TOP
#ford_Header {
    position: relative;
    z-index: 999;
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        background-color: rgba(0,0,0, 0.7);
        overflow-y: hidden;
        transition: 0.5s;
        display: none;
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            a {
                padding: 8px;
                text-decoration: none;
                font-size: 36px;
                color: #818181;
                display: block;
                transition: 0.3s;
              }
          }
        .overlay-content-bgcolor{
            background-color: $color-gray-6;
        }
    }
}
.ford_first_nav {
    padding: 0 45px;
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background-color: $color-white-cream;
    .ford_leftHeader {
        display: flex;
        .ford_header_nav {
            width: 100%;
            .ford_nav_mustang {
                position: relative;
                &::after {
                    content: "";
                    margin-top: 5px;
                    height: 80%;
                    width: 1px;
                    position: absolute;
                    right: -70px;
                    top: 0;
                    background-color: gray;
                    opacity: 0.3;
                }
                .ford_nav_mustang_text {
                    &:hover {
                        color: #0276b3;
                    }
                }
            }
            .ford_nav_bronco {
                position: relative;
                &::after {
                    content: "";
                    margin-top: 10px;
                    height: 50%;
                    width: 1px;
                    position: absolute;
                    right: -60px;
                    top: 0;
                    background-color: gray;
                    opacity: 0.3;
                }
                .ford_nav_bronco_text {
                    &:hover {
                        color: #337ab7;
                    }
                }
            }
            .ford_nav_used {
                .ford_nav_used_text {
                    &:hover {
                        color: #0276b3;
                    }
                }
            }
            .ford_first_nav_content {
                display: flex;
                align-items: center;
                margin-right: 70px;
                height: 100%;
                &:hover {
                    text-decoration: none;
                }
                span {
                    font-size: 12px;
                    color: #102b4e;
                }
                img {
                    width: 50px;
                    height: 30px;
                }
            }
        }
    }
}

.ford_first_nav {
    .ford_rightHeader {
        display: flex;
        align-items: center;
        margin-left: auto;
        &:hover {
            text-decoration: none;
        }
        .ford_rightHeader_content {
            font-size: 13px;
            color: #2861a4;
            font-weight: 700;
            img {
                width: 100%;
                height: 23px;
                margin-right: -30px;
            }
        }
    }
}

.ford_vehicles_content {
    display: block;
}

// NAV BOTTOM
.ford_second_nav_container {
    .ford_second_nav {
        margin-top: 2.5rem;
        padding: 0 45px;
        background-color: #fff;
        height: 80px;
        box-shadow: 0 8px 4px -4px #0003;
        width: 90%;
        margin: 0 auto;
        .ford_second_nav_left {
            .active {
                border-bottom: 2px solid #0276b3;
            }
            .ford_second_nav_item_left {
                ul > li {
                    list-style: none;
                }
                .column-wrap-container {
                    padding-right: 70px;
                    padding-left: 70px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                .ford__megamenu{
                    display: none;
                    box-shadow: 0px 3px 5px  #d8d8d8 inset;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: #FFF;
                    width: 100%;
                    ul > li {
                        .column-vehicle-top {
                            display: inline-block;
                            a {
                                display: inline-block;
                            }
                        }
                        display: inline-block;
                        img {
                            width: 175px;
                            height: 76px;
                            display: block;
                        }
                    }
                    .column-vehicle-item {
                        white-space: normal;
                        vertical-align: top;
                        max-width: 230px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 35px;
                        padding-left: 25px;
                        padding-right: 25px;
                        .badges-container {
                            min-height: 20px;
                            .badges-label {
                                font-size: 13px;
                                color: #777;
                            }
                        }
                        .column-vehicle-middle {
                            color: #102b4e;
                            font-size: 15px;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        .column-vehicle-info {
                            .column-vehicle-info-price {
                                font-size: 12px;
                            }
                            .cta-wrap {
                                .btn-link-alt {
                                    position: relative;
                                    max-width: 270px;
                                    background-color: transparent;
                                    border: 0;
                                    color: #0276b3;
                                    display: inline-block;
                                    white-space: normal;
                                    font-family: 'fordngbs-antenna-light',arial,helvetica,sans-serif;
                                    font-size: 13px;
                                    text-align: left;
                                    text-decoration: none;
                                    padding: 2px 0;
                                    line-height: 1.25;
                                    &::before {
                                        background: 0;
                                        border: 0;
                                        border-bottom: 1px solid rgba(2,118,179,0.5);
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        pointer-events: none;
                                        -webkit-transition: border-color .4s;
                                        -o-transition: border-color .4s;
                                        transition: border-color .4s;
                                    }
                                    &:hover {
                                        &::before{
                                            border-color: rgba(2,119,181,1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .segment-menu-item-ftr {
                        background-color: #f7f7f7;
                        margin-left: -70px;
                        margin-right: -70px;
                        padding-left: calc(92px);
                        padding-right: calc(92px);
                        .cta-container {
                            white-space: nowrap;
                            overflow-y: hidden;
                            overflow-x: auto;
                            padding-top: 14px;
                            padding-bottom: 14px;
                            text-align: left;
                            .cta-wrap {
                                display: inline-block;
                                margin-right: 5px;
                                &:hover {
                                    .btn-primary {
                                        background-color: #fff;
                                        border: 1px solid #333;
                                        color: #333;
                                    }
                                }
                            }
                            .cta-wrap:first-of-type {
                                padding-left: 3px;
                            }
                            .cta-wrap>a {
                                margin-top: 0;
                                outline-offset: 2px;
                            }
                            .brand-btnv2.btn-primary {
                                min-height: 30px;
                                width: auto;
                                min-width: 186px;
                                font-size: 12px;
                                line-height: 1.25;
                                border-radius: 20px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                            }
                            .btn-primary {
                                background-color: #0276b3;
                                border: 1px solid #0276b3;
                                color: #fff;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            .ford_vehicles {
                display: none;
            }
            .ford_second_nav_content {
                font-size: 14px;
                color: #0276b3;
                margin: 0 5px;
                padding-left: 0;
                &:hover {
                    color: rgba(51, 51, 51, 1);
                }
                .ford_text_left{
                    padding-left: 5px;
                }
            }
        }
        .ford_logo {
            margin-right: 50px;
            height: 100%;
            img {
                object-fit: contain;
                height: 100%;
                width: 90px;
            }
        }

        .ford_second_nav_right {
            .nav-tabs {
                border: none;
                .nav-item {
                    border: none;
                    .nav-link {
                        border: none;
                        padding: 4px 5px;
                        margin: 0px 5px;
                    }
                    .active {
                        border-bottom: 2px solid #0276b3;
                    }
                }
            }
            .ford_second_nav_list_right{
                position: relative;
            }
            .ford_second_nav_item_right {
                font-size: 12px;
                display: flex;
                align-items: center;
                .ford_second_nav_content_right {
                    padding: 0;
                    white-space: nowrap;
                    color: #0276b3;
                    &:hover {
                        color: #333;
                    }
                }
                .ford__dropdown {
                    z-index: 1030;
                    position: absolute;
                    top: 50px;
                    left: 10px;
                    background-color: #fff;
                    display: none;
                    .dropdown-item{
                        border-bottom: 1px solid #dddddd;
                        display: flex;
                        .ford_link_text{
                            white-space: nowrap;
                            color: #0276b3;
                            font-size: $fs-5;
                            padding: 10px 125px 10px 0px;
                        }
                        .ford_link_icon {
                            text-align: right;
                            float: right;
                            width: 100%;
                            padding: 10px 0px;
                        }
                    }
                    .ford__shadow_top {
                        border-top: 1px solid #dddddd;
                        box-shadow: 0px 3px 5px  #d8d8d8 inset;
                    }
                    .dropdown-item:hover {
                        background-color: #fff;
                        .ford_link_text{
                            color: #333;
                        }
                    }
                }
                #right_dropdown_finance {
                    top: 50px;
                    left: -110px;
                }
                #right_dropdown_support{
                    top: 50px;
                    left: -180px;
                    .ford_link_text {
                        padding: 10px 10px;
                    }
                }
                #right_dropdown_EN {
                    top: 50px;
                    left: -250px;
                    .ford_link_text {
                        padding: 10px 150px 10px 10px;
                    }
                    .ford_link_icon {
                        padding: 10px 0px;
                    }
                }
                
            }
            img {
                width: 25px;
                height: 100%;
            }
        }
    }
}

.ford_second_nav_container {
    position: relative;
    .ford_second_nav {
        .ford_navbar_collapse {
            justify-content: space-between;
        }
    }
}
.ford_arrow_down {
    display: none;
}

.ford_arrow_up {
    display: none;
}
.ford_arrow_right{
    display: block;
}
.ford_deal{
    display: none;
}
.ford_en{
    margin-left: -20px;
}
.ford_bottom_list{
    display: none;
}



// 2nd NAV RIGHT 
